@page

@{
    ViewData["Title"] = "创建订单";
}

<h1>创建订单</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label" for="orderId">订单号</label>
                <input class="form-control" type="text" data-val="true" data-val-required="必填项" id="orderId" name="orderId" value="we_@Guid.NewGuid().ToString()" />
                <span class="text-danger field-validation-valid" data-valmsg-for="orderId" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label class="control-label" for="orderAmount">订单金额</label>
                <input class="form-control" type="number" data-val="true" data-val-required="必填项" id="orderAmount" name="orderAmount" value="@(new Random().Next(1, 100))" />
                <span class="text-danger field-validation-valid" data-valmsg-for="orderAmount" data-valmsg-replace="true"></span>
            </div>

            <div class="form-group">
                <input id="createOrder" type="button" value="创建" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">返回列表</a>
</div>


<!-- qrcodeModal -->
<div class="modal fade" id="qrcodeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="qrcodeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="qrcodeModalLabel">扫码支付</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div style="text-align:-webkit-center">
                    <div id="amount"></div>
                    <br />
                    <div id="qrcode"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                <button id="isPay" type="button" class="btn btn-primary">我已支付</button>
            </div>
        </div>
    </div>
</div>


<!-- tipModal -->
<div class="modal fade" id="tipModal" tabindex="-1" role="dialog" aria-labelledby="tipModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tipModalLabel">错误信息</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="error" style="color:red"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/lib/qrcodejs/qrcode.min.js"></script>
    <script>
        const tipModal = new bootstrap.Modal('#tipModal')
        const qrcodeModal = new bootstrap.Modal('#qrcodeModal')

        function showTipModal(message) {
            document.getElementById('error').innerHTML = message
            tipModal.show()
        }

        var orderId

        document.getElementById('createOrder').addEventListener('click', () => {
            if (!$('form').valid()) {
                return
            }

            fetch('/api/order', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    orderId: document.getElementById('orderId').value,
                    orderAmount: parseFloat(document.getElementById('orderAmount').value),
                })
            }).then(response => {
                return response.json()
            }).then(json => {
                if (!json.success) {
                    showTipModal(json.message)
                    return
                }

                orderId = json.result.id

                let amount = document.getElementById("amount")
                let qrcode = document.getElementById("qrcode")
                qrcode.innerHTML = ''
                amount.innerHTML = '￥ ' + json.result.orderAmount.toFixed(2)

                new QRCode(qrcode, {
                    text: json.result.orderCode,
                    width: 256,
                    height: 256,
                    colorDark: "#000000",
                    colorLight: "#ffffff",
                    correctLevel: QRCode.CorrectLevel.H
                });

                qrcodeModal.show()
            }).catch(ex => {
                showTipModal('请求失败')
            })
        })

        document.getElementById('isPay').addEventListener('click', () => {
            fetch('/api/order/' + orderId)
                .then(response => {
                    return response.json()
                }).then(json => {
                    if (!json.success) {
                        showTipModal(json.message)
                        return
                    }
                    console.log(json)
                }).catch(ex => {
                    showTipModal('请求失败')
                })
        })
    </script>
}
